body{
  background: lightyellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn{
  background:lightgreen;
  margin: 20px;
}

.add-btn{
  background:lightsalmon;
  width: 40px;
  height: 40px;
}
.app-title{
  text-align: center;
  color: lightblue;
  font-size: 70px;
}
.App{
  border: 5px solid pink;
  border-radius: 25px;

}
.hi{
  color:rgb(104, 89, 81)

}